body {
    background: #f5dfee;
  }
  header {
    text-align: center;
    border: 5px solid #3e4379;
    color: #98adbd;;
    margin-bottom: 40px;
  }

  #imagesSection {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    border: 10px solid #3e4379;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  main form ul{
    list-style: none;
    font-size: large;
    font-family: cursive;
    display:block;
    text-align: justify;
  }